<h1>WIKI-IT!</h1>
<h2>By <a href="https://ian-agpawa.herokuapp.com" target="_blank" id="name">Ian Agpawa</a></h2>
<h3>Search Wikipedia for Articles</h3>

<div class='container-fluid text-center'>

  <center>
    <div class="input">
      <form class="form-container" id='form-container'>
        <div class="input-group margin-bottom-sm">
          <input class="form-control text-center" type="text" id='searching' value='' placeholder="Search Wikipedia">
          <span class="input-group-addon"><button type="submit" id='search-button'><i class="fa fa-search" aria-hidden="true">Search</i></button>
          </span>
        </div>
      </form>
      <button id="random">Get a random article</button>
    </div>
  </center>


  <div class='wikipedia-links'></div>


</div>
